.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.httr-oauth
*~
*.sas.txt
docs/*
temp

*.rprof

tmp.R

tmp.txt

*.html

checklog.txt

currentwork.R

tablefunexample.R

broken.R

complexmodel.R

*.R#

dt_573_MHT01_npaszty.Rmd
