.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.httr-oauth
*~
*.sas.txt
docs/*
temp

*.rprof

tmp.R

tmp.txt

*.html

checklog.txt

currentwork.R

tablefunexample.R

broken.R

complexmodel.R

*.R#
[^/]*.R
dt_573_MHT01_npaszty.Rmd

tests/unit_test_results.xml
tests/testthat/Rplots.pdf

*.prof
/doc/
/Meta/
tests/testthat/_snaps/**/*.new.md
tests/testthat/_snaps/**/*.new.svg
